In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../data/census2011.csv")

NameError: name 'pd' is not defined

In [3]:
df

,Person ID,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,7394816,E12000001,H,2,1,2,6,2,2,1,2,1,2,5,8,2,-9,4
1,7394745,E12000001,H,5,1,1,4,1,2,1,1,1,2,1,8,6,4,3
2,7395066,E12000001,H,3,1,2,4,1,2,1,1,1,1,1,6,11,3,4
3,7395329,E12000001,H,3,1,2,2,1,2,1,2,1,2,1,7,7,3,2
4,7394712,E12000001,H,3,1,1,5,4,2,1,1,1,2,1,1,4,3,2
5,7394750,E12000001,H,2,1,1,6,2,2,1,2,1,1,1,9,2,3,3
6,7394871,E12000001,H,5,1,2,4,3,2,1,2,1,1,1,6,11,2,3
7,7394832,E12000001,H,3,1,2,1,1,2,1,2,1,1,-9,-9,-9,-9,-9
8,7394719,E12000001,H,2,1,1,7,2,2,1,1,1,2,5,8,2,-9,2
9,7394840,E12000001,H,1,1,2,6,4,2,1,3,1,2,5,9,5,-9,4
10,7394510,E12000001,H,1,1,1,3,1,2,1,3,1,8,1,8,2,3,4
11,7394711,E12000001,H,2,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
12,7395070,E12000001,H,1,1,2,2,1,2,1,1,1,2,1,7,2,3,2
13,7394869,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,-9,-9,-9,2
14,7394971,E12000001,H,5,1,2,2,1,2,1,2,1,2,1,7,4,2,4
15,7395019,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,7,6,-9,2
16,7395069,E12000001,H,3,1,1,2,1,2,1,1,1,1,2,8,3,4,4
17,7394933,E12000001,H,3,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
18,7395059,E12000001,H,1,1,1,4,1,2,1,3,1,1,1,8,2,3,4
19,7394875,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
20,7394764,E12000001,H,2,1,1,7,2,2,1,3,1,2,5,9,2,-9,4
21,7394645,E12000001,H,5,1,2,5,4,2,1,3,1,2,2,7,7,1,4
22,7394857,E12000001,H,2,1,1,4,2,2,1,1,1,1,1,8,2,3,4
23,7395021,E12000001,H,2,1,1,8,2,2,1,3,1,2,5,5,2,-9,3
24,7395361,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
25,7394927,E12000001,H,3,1,1,3,1,2,1,2,1,2,1,7,4,3,4
26,7395359,E12000001,H,2,1,1,5,2,2,1,2,1,2,2,1,3,3,1
27,7394920,E12000001,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
28,7394688,E12000001,H,2,1,2,2,1,1,1,1,1,9,4,7,4,1,2
29,7394516,E12000001,H,2,1,1,4,2,2,1,1,1,2,1,8,10,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569711,7945320,W92000004,H,5,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
569712,7945525,W92000004,H,2,1,2,6,2,2,1,1,1,1,5,2,9,-9,1
569713,7945015,W92000004,H,2,1,1,3,2,2,1,1,1,2,2,3,8,3,2
569714,7945696,W92000004,H,5,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569715,7946510,W92000004,H,3,1,1,3,1,2,2,1,1,1,1,3,4,3,2
569716,7944271,W92000004,H,2,1,2,3,1,2,1,3,1,1,8,-9,-9,-9,4
569717,7945866,W92000004,H,2,1,2,3,2,2,1,1,1,2,2,9,8,2,4
569718,7945678,W92000004,H,5,1,2,1,1,2,1,1,1,9,-9,-9,-9,-9,-9
569719,7946159,W92000004,H,5,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569720,7945787,W92000004,H,2,1,1,7,2,2,1,1,1,2,5,2,10,-9,1
569721,7944597,W92000004,H,2,1,2,3,2,2,1,1,1,1,1,2,10,3,1
569722,7945507,W92000004,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569723,7944767,W92000004,H,2,1,1,3,1,2,1,1,1,2,3,4,12,-9,4
569724,7945970,W92000004,H,2,1,2,7,2,2,1,2,1,2,5,9,10,-9,3
569725,7945073,W92000004,H,1,1,2,4,1,2,1,1,1,2,1,4,11,3,2
569726,7945274,W92000004,H,1,1,2,7,1,2,1,3,1,2,5,4,11,-9,2
569727,7945542,W92000004,H,-9,2,1,2,1,1,-9,-9,-9,-9,-9,-9,-9,-9,-9
569728,7944956,W92000004,H,2,1,2,5,2,2,1,2,1,1,1,4,12,3,2
569729,7946548,W92000004,H,5,1,2,2,1,1,1,2,2,1,6,-9,-9,-9,2
569730,7944917,W92000004,H,2,1,1,1,1,1,1,2,1,1,-9,-9,-9,-9,-9
569731,7944616,W92000004,H,2,1,2,7,2,2,1,3,1,2,5,7,4,-9,2
569732,7946558,W92000004,H,3,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569733,7944827,W92000004,H,5,1,2,4,4,2,1,1,1,1,1,6,10,2,4
569734,7944370,W92000004,H,1,1,1,3,3,1,2,3,4,6,4,9,6,2,2
569735,7944868,W92000004,H,2,1,1,2,1,2,1,1,1,2,1,4,9,3,2
569736,7946020,W92000004,H,1,1,1,5,1,2,1,4,1,9,1,8,8,3,3
569737,7944310,W92000004,H,3,1,1,3,1,2,1,2,1,1,1,7,4,3,4
569738,7945374,W92000004,H,3,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
569739,7944768,W92000004,H,1,1,2,8,5,2,1,3,1,9,5,9,2,-9,4
569740,7944959,W92000004,H,2,1,2,2,2,2,1,2,1,1,1,7,4,1,4

In [4]:
len(df)

569741

In [5]:
df.dtypes

Person ID                     int64
Region                       object
Residence Type               object
Family Composition            int64
Population Base               int64
Sex                           int64
Age                           int64
Marital Status                int64
Student                       int64
Country of Birth              int64
Health                        int64
Ethnic Group                  int64
Religion                      int64
Economic Activity             int64
Occupation                    int64
Industry                      int64
Hours worked per week         int64
Approximated Social Grade     int64
dtype: object